.actividad {
  color: black;
  list-style-type: disc;
}

.contentList {
  margin-block: 1rem;
  box-shadow: 0 0 10px 1px black;
  padding-inline: 2rem;
  border-radius: 25px;
  transition: transform 1s;

  &:hover {
    transform: scale(1.03);
  }
}

.empresa {
  font-size: large;
  font-weight: bold;
}

.cargo {
  font-size: medium;
  font-weight: bold;
}
