.field_habilidades {
  border: 3px black solid;
  padding: 1rem;
  border-radius: 10px;
  margin-inline: 1rem;
}

.contenedor_experiencias {
  overflow: hidden;
}

.legend_habilidades {
  color: black;
  font-size: x-large;
  padding-inline: 1rem;
}

.titleHabilidad {
  font-size: medium;
  font-weight: bold;
  text-align: right;
}

.habilidades {
  font-size: medium;
  text-align: right;
}

.item:not(:last-child) {
  padding-bottom: 1rem;
}
